* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(127, 109, 157, 1) 100%
  );
  font-family: monospace;
  font-size: 28px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.title,
.sentence {
  text-align: center;
  margin-bottom: 18px;
}

.magic-ball--box {
  position: relative;
  height: 250px;
}
.magic-ball--box .magic-ball {
  position: absolute;
  top: 30px;
  left: 300px;
  width: 300px;
  cursor: pointer;
}

.question-area {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.question-area .clue {
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}

.question-area .question {
  display: flex;
  width: 60%;
  margin: 0 auto;
  height: 32px;
  font-size: 1.3rem;
  padding: 4px;
  border-radius: 4px;
  border: none;
}

.question-area .answer {
  text-align: center;
  margin-top: 28px;
}

.question-area .answer span {
  font-weight: bold;
}

.question-area .error {
  text-align: center;
  font-weight: bold;
  color: #107c46;
}

.shake-animation {
  animation: shake 1s 1;
}

@keyframes shake {
  0% {
    left: 290px;
  }

  20% {
    left: 340px;
  }

  40% {
    left: 290px;
  }

  60% {
    left: 340px;
  }

  80% {
    left: 290px;
  }

  100% {
    left: 300px;
  }
}
